a{
	color: #7e7e7e;
	text-decoration: none;
}
a:hover,.selected{color: black;}
li{margin-left: 24px;}
p{
	font-size: 13px;
	line-height: 20px;
	color: #353535;
}
h1,h2,h3{
	letter-spacing: -1px;
}
h3{
	font-size: 26px;
	text-transform: lowercase;
	border-bottom: 1px solid #d4d4d4;
	padding-bottom: 20px;
	margin-bottom: 15px;
	line-height: 1em;
}
blockquote, blockquote p{
	font-size: 15px;
	line-height: 20px;
	font-style: italic;
	color: #484848;

}
blockquote{
	position: relative;
}
.container_24{
	margin-top: 10px;
}
/*
***************************
* =header
***************************
*/
header{}
header h1{
	text-indent: -9999px;
	margin: 10px 10px 20px 10px;
	background: url(../img/logo.png) no-repeat;
	width: 186px;
	height: 39px;
	float: left;
}
header h1 a{

}

/*
***************************
* =nav
***************************
*/
nav{
float: right;
padding-top: 12px;
}

nav li{
	display: inline;
}

nav a{
	text-transform: lowercase;
}

/*
***************************
* =banner
***************************
*/
.banner{
	background: url(../img/city.jpg) no-repeat;
	width: 693px;
	height: 228px;
	position: relative;
}
.banner h2{
	color: white;
	font-size: 28px;
	width: 400px;
	font-weight: normal;
	position: absolute;
	bottom: -10px;
	left: 8px;
	padding: 0 8px;
	background: rgba(0,0,0,0.5);
}
.box{
	background: black;
	height: 228px;
}
/*
.grid_4{background: red;}
.container_12{background: green;}
.grid_2,.grid_3{background: orange;}*/
.grid_6,.grid_18{margin-left: 0;}

/*
***************************
* =main
***************************
*/
.main{margin-top: 20px;}
.main blockquote p{
	padding-left: 30px;
}
.main blockquote p:before, .main blockquote p:after{
	font-size: 40px;
	color: #bfbfbf;
	font-style: italic;
}
.main blockquote p:before {
	content: '\201C';
	position: absolute;
	top: 7px;
	left: 0px;
}
.main blockquote p:after {
	content: '\201D';
	float: right;
	position: absolute;
	bottom: -7px;
	right: 0px;
}
/*
***************************
* =footer
***************************
*/
footer{
	clear: both;
	border-top: 1px solid #d4d4d4;
	padding-top: 18px;
}



.button{
	background: #2a2a2a;
	padding: 6px;
}
.button:hover{
	color: white;
}